body {
    background-color: pink;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

h1 {

    font-weight: bolder;

}

img {
    height: 350px;
    width: 350px;
    border-radius: 25px;
}